@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    margin: 0;
    font-family: "Oxygen", sans-serif;
    background-color: rgb(210, 208, 208);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url("../images/outdoor-run.jpg");
    background-size: cover;
    width: max(40vw, 350px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.left h1 {
    font-size: 50px;
}

.sub-logo {
    font-style: italic;
}

.translucent {
    background-color: rgba(124, 124, 124, 0.35);
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.top {
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.bottom {
    height: 60vh;
}

.right {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    height: 10vh;
    background-color: rgba(124, 124, 124, 0.35);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.inventory-table,
.add-item{
    display: flex;
    justify-content: space-evenly;
}

.add-item {
    margin-bottom: 10px;
}

/* FIX ME */
.inventory-table {
    width: 100%;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    letter-spacing: 1px;
    font-size: 1rem;
    width: 50vw;
}

th {
    background-color: rgb(235,235,235);
    font-family: "Oxygen:wght@300", sans-serif;
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(235,235,235);
}

tr:nth-child(odd) td {
    background-color: rgb(250,250,250);
}

a:link, a:visited {
    color: black;
}

.parts,
.products{
    height: 45vh;
    padding-left: 30px;
    padding-right: 30px;
}

/* ABOUT PAGE */

.about-content {
    height: 90vh;
}

/* LOGIN PAGE */

.login-header {
    background-color: rgba(124, 124, 124, 0.35);
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.login-content {
    height: 90vh;
}

