<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>About Alpine Running</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="top">
                <div class="translucent">
                    <h1 >Alpine Running Depot</h1>
                    <h4 class="sub-logo">Your one-stop shop for trail running gear</h4>
                </div>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="right">
            <div class="header">
                <div>
                    <a th:href="@{/homepage}" class="btn btn-primary btn-sm mb-3">Home</a>
                </div>
                <div>
                    <a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Inventory</a>
                </div>
                <div>Login</div>
            </div>
            <div class ="about-content"></div>
        </div>
    </div>
</body>
</html>