<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>About Alpine Running</title>
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <div>
                <a th:href="@{/about}" class="btn btn-primary btn-sm mb-3">About</a>
            </div>
        </div>
        <div class="login-content">
            <div class="login-box">
                <form>
                    <h1>Alpine Running Depot</h1>
                    <div class="input">
                        <input type="text" placeholder="Username" required>
                    </div>
                    <div class="input">
                        <input type="password" placeholder="Password" required>
                    </div>

                    <div class="remember-forget">
                        <label><input type="checkbox"> Remember Me</label>
                        <a>Forgot Password?</a>
                    </div>

                    <button type="submit" class="button">Login</button>

                    <div class="sign-up">
                        <p>Don't have an account yet?
                            <a>Sign Up</a>
                        </p>
                    </div>

                    <div class="search">
                        <p>Test drive an account!</p>
                        <a th:href="@{/mainscreen}" class="btn btn-primary btn-sm mb-3">Login as Guest</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>