<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>About Alpine Running</title>
</head>
<body>
    <div class="container">
        <div class="login-header">
            <div>
                <a th:href="@{/homepage}" class="btn btn-primary btn-sm mb-3">Home</a>
            </div>
            <div>
                <a th:href="@{/about}" class="btn btn-primary btn-sm mb-3">About</a>
            </div>
        </div>
        <div class="login-content"></div>
    </div>
</body>
</html>